.mini-preloader {
  display: flex;
  flex-direction: column;
}

.mini-preloader__container {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-preloader__loader {
  animation: rotate 0.5s infinite linear;
}

.mini-preloader__loader-color {
  stop-color: var(--text-color);
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(359deg);
  }
}

@media screen and (min-width: 900px) {
  .mini-preloader__container {
    width: 18px;
    height: 18px;
  }
}
