{
  "extends": ["airbnb", "airbnb/hooks", "plugin:react/jsx-runtime"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": [0, { "allow": ["_id"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0]
  }
}
